@model Sindicato_v1.Models.ViewModels.AddRolesViewModel
@{
    ViewBag.Title = "Nuevo Rol";
}

<link href="~/Content/validationEngine.jquery.css" rel="stylesheet" type="text/css" />

<br />
<br />
<br />
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://localhost:44378/#inicio">SIICE</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="~/Agremiado/Agremiados">Agremiados</a></li>
                <li><a href="~/Deducciones/BusquedaDeduccion">Deducciones</a></li>
                <li><a href="~/Usuario/Documentos">Documentos</a></li>
                <li><a href="~/Gestiones/Gestiones">Gestiones</a></li>
                <li><a>Hola, @ViewData["Nombre"] @ViewData["Apellido"]</a></li>
                <li><a href="~/Usuario/close_session" onclick="return LeaveConfirm()"><span class="glyphicon glyphicon-log-out"></span></a></li>
            </ul>
        </div>
    </div>
</nav>

<ul class="breadcrumb">
    <li><a href="https://localhost:44378/#inicio">SIICE - Inicio</a></li>
    <li><a href="/Usuario/Administrador/">Administrativo</a></li>
    <li><a href="/Rol/Mant_Rol/">Roles</a></li>
    <li>Agregar rol</li>
</ul>

<div>
    <h2>Nuevo Rol</h2>
    <h4>Ingrese la informacion del nuevo rol a agregar</h4>
</div>

<hr class="hr-custom">

@using (Html.BeginForm("Nuevo_Rol", "Rol", FormMethod.Post))
{
    <div class="row" id="errores">
        <div class="col-md-12">
            <div>
                @Html.LabelFor(f => f.rol)
                @Html.TextBoxFor(f => f.rol, "", new { @class = "form-control validate[required, custom[onlyLetterAccentSp]]", placeholder = "Nombre del rol" })
                @Html.ValidationMessageFor(d => d.rol, null, new { @class = "text-danger" })
            </div>
            <br />
            <div style="text-align: right">
                <input value="Guardar" class="btn btn-custom1" type="submit" title="Guardar"/>
            </div>
        </div>
    </div>
}

<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validationEngine-en.js"></script>
<script src="~/Scripts/jquery.validationEngine.js"></script>
<script>
    $(document).ready(function () {
        $("#errores").validationEngine();

    });

    $("#errores").validationEngine({ promptPosition: "topleft:-100" });
</script>
<script>
    jQuery(document).ready(function () {
        jQuery("#errores").validationEngine();
    });
</script>