@model IEnumerable<Sindicato_v1.Models.ViewModels.ActasInfoEntity>

@{
    ViewBag.Title = "ShowActas";
}

<br />
<br />
<br />
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://localhost:44378/#inicio">SIICE</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="~/Agremiado/Agremiados">Agremiados</a></li>
                <li><a href="~/Deducciones/BusquedaDeduccion">Deducciones</a></li>
                <li><a href="~/Usuario/Documentos">Documentos</a></li>
                <li><a href="~/Gestiones/Gestiones">Gestiones</a></li>
                <li><a>Hola, @ViewData["Nombre"] @ViewData["Apellido"]</a></li>
                <li><a href="~/Usuario/close_session" onclick="return LeaveConfirm()"><span class="glyphicon glyphicon-log-out"></span></a></li>
            </ul>
        </div>
    </div>
</nav>

<ul class="breadcrumb">
    <li><a href="https://localhost:44378/#inicio">SIICE - Inicio</a></li>
    <li><a href="/Usuario/Administrador/">Administrativo</a></li>
    <li><a href="/Usuario/Documentos/">Documentos</a></li>
    <li>Actas</li>
</ul>

<div>
    <h2>Listado de Actas</h2>
    <h4>Listado de actas que se han generado en el sistema</h4>
</div>

<hr/>

<div class="container" style="text-align: left; padding: 5px;">
    <a href="~/ReportPDFActas/PDFActas" class="btn btn-custom" title="Agregar nueva">
        <img src="~/Content/Resources/Images/add.png" height="20" /> Agregar nueva
    </a>
</div>

<br />

<table class="table table-striped table-hover">
    <tr>
        <th>
            Código
        </th>
        <th>
            Fecha de Creación
        </th>
        <th>
            Título
        </th>
        <th>
            Subtítulo
        </th>
        <th>
            Cuerpo del documento
        </th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_Actas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_Creacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subtitulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.texto)
            </td>
            <td>
                @Html.ActionLink("Editar Acta", "Editar_Actas", new { IdActas = item.id_Actas }) |
                @Html.ActionLink("Generar PDF", "PDF", new { IdActas = item.id_Actas }) |
                @Html.ActionLink("Eliminar", "Eliminar_Acta", new { IdActas = item.id_Actas }, new { onclick = " return DeleteConfirm()" })
            </td>
        </tr>
    }

</table>

<div>
    <a href="/Usuario/Administrador/">Volver</a>
</div>


@if (ViewBag.Msg == "Agregado")
{
    <script type="text/javascript">
        window.onload = function () {
            swal({
                title: "Confirmación",
                text: "¡Se agregó exitosamente!",
                icon: "success"
            });
        }
    </script>
}

@if (ViewBag.Msg == "Modificado")
{
    <script type="text/javascript">
        window.onload = function () {
            swal({
                title: "Confirmación",
                text: "¡Se modificó exitosamente!",
                icon: "info"
            });
        }
    </script>
}

@if (ViewBag.Msg == "Eliminado")
{
    <script type="text/javascript">
        window.onload = function () {
            swal({
                title: "Confirmación",
                text: "¡Se eliminó exitosamente!",
                icon: "warning"
            });
        }
    </script>
}

@if (ViewBag.Msg == "Error")
{
    <script type="text/javascript">
        window.onload = function () {
            swal({
                title: "ERROR",
                text: "¡Este elemento no se puede eliminar porque está siendo utilizado!",
                icon: "error"
            });
        }
    </script>
}

<script type="text/javascript">
    function DeleteConfirm() {
        if (confirm("¿Eliminar este registro?"))
            return true;
        else
            return false;
    }
</script>